* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}
.mainbox {
    width: 1000px;
    height: 1000px;
    background-color: white;
   
}
.top-bar{
    width:1000px;
    height: 25px;
    background-color: gray;
    text-align: left;
    font-size: smaller;
    margin-top:10px;
    margin-bottom: 20px;
}

h8 {
    font-weight: bold;
}

.white-text {
    color: white;
    text-align:left;
}

.black-text {
    color: black;
    text-align: left;
}
a:link {
    color:white;
    text-decoration: none;
    font-size: 12pt;
    }

    a:visited{
    color:white;
    text-decoration: none;
    font-size: 15pt;
    }
    a:hover {
        background-color:darkblue;
        color: white;
        font-weight: 20;
    }
    nav:link {
        color:white;
        text-decoration: none;
        font-size: 12pt;
        text-align: bottom;
        }
        nav:visited{
    
        text-decoration: none;
        font-size: 15pt;
        }
        nav:hover {
            background-color:white;
            color: white;
            font-weight: 20;
        }
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.QuoteBox {
    width: 110px;
    height: 110px;
    background-color: white;
    color: white;
    margin: 2px;
    margin-left:5px;
    text-align: bottom;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:flex-end;
    
}
#whiteQuoteBox {
    background-color: white;
    width: 110px;
    height: 110px;
    color: white;
    margin: 2px;
    margin-left:5px;
    
}
#DarkblueQuoteBox {
    background-color: darkblue;
    text-align: bottom;
    width: 110px;
    height: 110px;
    margin:2px;
    margin-left:5px;
}
.top-bars{
    width:1000px;
    height: 25px;
    background-color: gray;
    text-align: left;
    font-size: smaller;
    margin-top:15px;
    margin-bottom: 10px;
    color:black;
}
.SeeOurGallery{
    width:120px;
    height: 25px;
    background-color: gray;
    text-align: left;
    font-size: smaller;
  
}
.Bottom-section{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    color: white;
    margin: 10px;
    margin-left:5px;
    text-align: bottom;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:bottom;
}
.bottom-bar{
    width:1000px;
    height: 25px;
    background-color: gray;
    text-align: left;
    font-size: smaller;
    margin-top:15px;
    margin-bottom: 10px;
}

